body {
    background-image: url("../assets/howto.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    background-color: #fee876;
    padding: 0 15px;
    margin: 0;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "banner"
        "content"
        "closeBtn";
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 3.5rem;
}

button, select, input {
    font-family: inherit;
}

.content {
    grid-area: content;
    font-family: "Roboto", sans-serif;
    color: #555;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
}

#fiveDie {
    border-radius: 4px;
    background: #F6F7F9;
    box-shadow: 0 -3px 0 0 #CACDDB inset;
    display: inline-block;
    width: 23px;
    height: 23px;
    padding: 2.556px 3.194px 4.472px 2.556px;
    vertical-align: middle;
    flex-shrink: 0;
}

#oneDie {
    display: flex;
    width: 23px;
    height: 23px;
    padding: 2.556px 3.194px 4.472px 2.556px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 4px;
    background: #F6F7F9;
    box-shadow: 0 -3px 0 0 #CACDDB inset;
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
}

#twoDie {
    display: flex;
    width: 23px;
    height: 23px;
    padding: 2.556px 3.194px 4.472px 2.556px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 4px;
    background: #F6F7F9;
    box-shadow: 0 -3px 0 0 #CACDDB inset;
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerImg {
    width: clamp(400px, 80vw, 400px);
    height: auto;
    max-width: 100%;
    grid-area: banner;
    margin-top: 1rem;
}

.closeBtnContainer {
    grid-area: closeBtn;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeBtn {
    font-family: "Luckiest Guy", cursive;
    border-radius: 21px;
    background: #F3802F;
    box-shadow: 0 -6px 0 0 #B94D1B inset;
    display: flex;
    width: clamp(250px, 80vw, 350px);
    height: clamp(50px, 12vw, 59px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #FFFAFA;
    font-size: clamp(18px, 5vw, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.44px;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}