body {
    background-image: url("./assets/beach.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    background-color: #fee876;
    font-family: "Luckiest Guy", cursive;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
        "logo"
        "mascot"
        "options"
        "startBtn"
        "playBtn";
    grid-column-gap: 0px;
    row-gap: 1rem;
    min-height: 90vh;
    margin-bottom: 2rem;
    padding: 1rem;
}

.logoContainer {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.logoContainer img {
    width: clamp(330px, 40vw, 300px);
    height: auto;
    max-width: 100%;
}

.mascotContainer {
    grid-area: mascot;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mascotContainer img {
    width: clamp(220px, 40vw, 300px);
    height: auto;
    max-width: 100%;
}

.optionsContainer {
    grid-area: options;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(250px, 80vw, 350px);
    height: clamp(50px, 12vw, 61px);
    flex-shrink: 0;
    border-radius: 20px;
    background: #F6F7F9;
    margin: 0 auto;
}

.options {
    background: #F6F7F9;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: clamp(18px, 5vw, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.44px;
    color: #555;
    width: 100%;
    text-align: center;
}

.startBtnContainer {
    grid-area: startBtn;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startBtn {
    border-radius: 21px;
    background: #F3802F;
    box-shadow: 0 -6px 0 0 #B94D1B inset;
    display: flex;
    width: clamp(250px, 80vw, 350px);
    height: clamp(50px, 12vw, 59px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #FFFAFA;
    font-size: clamp(18px, 5vw, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.44px;
    border: none;
    cursor: pointer;
}

.playBtnContainer {
    grid-area: playBtn;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playBtn {
    color: #B94D1B;
    font-size: clamp(18px, 5vw, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.44px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

button, select, input {
    font-family: inherit;
}